{% extends 'base.html.twig' %}

{% block title %}My Favorite Recipes{% endblock %}

{% block body %}
    <h1>My Favorite Recipes</h1>
    <p>This feature will be implemented in task 4.</p>
{% endblock %}